@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
@import url(reset.css);
@import url(components/cabecalho.css);
@import url(components/cards.css);
@import url(components/titulos.css);
@import url(components/sections.css);
@import url(components/section-galeriaFotos.css);
@import url(components/formulario.css);
@import url(components/carrossel.css);


:root {
  --azul-medio: #2442C7;
  --azul-escuro: #3B467A;
  --cinza-fundo: #d4d1d1;
  --vermelho-titulos: rgb(196, 23, 12); 
}

* {
  font-family:'Segoe UI', Tahoma, sans-serif;
}

header{
  z-index: 2;
}

body {
  font-family: 'Tahoma', sans-serif;
  margin: 0 auto;
  width: auto;
  height: 100vh;
  background-color: var(--cinza-fundo);
}

main {
  width: 90vw;
  margin: 0 auto;
}

.titulo-section {
  font-family: 'Roboto', sans-serif;
  margin-top: 0;
  text-shadow: 1px 1px 1px rgb(0 0 0 / 10%);
  letter-spacing: 0.5px;
  text-transform: uppercase;
  line-height: 1.5;
  justify-content: center;
  display: flex;
  padding: 70px;
  color: var(--azul-escuro);
  padding-top: 150px;
  font-weight: bolder;    
  font-size: 1.5vw;
  text-decoration: underline;
  text-underline-offset: 20px;
  text-decoration-color: var(--azul-medio);

}