#rodape {
    height: 8vh;
    background-color: var(--);
    color: white;
    padding: 30px;
    display: flex;
    margin-top: 20%;
    justify-content: space-between;
}

#rodape .icon-copyright img {
    width: 100px;
    height: auto;
    display: flex;
}

.icon-redes-sociais img {
    width: 100px;
    height: auto;
    display: flex;
}

.footer-integrantes {
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footer-integrantes p {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    align-items: center;
    justify-content: center;
    margin: 3px;
}