.album-galeria {
    display: flex;
    margin-bottom: 20px;
}

.zoom :hover {
    transform: scale(1.3);
    transition-duration: 0.8s;
}


.card {
    width: 30px;
    height: 30px;
}

.card img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.posicao-foto-1 {
    transform: translate(250px, 0px);
}

.posicao-foto-2 {
    transform: translate(200px, -210px);
}

.posicao-foto-3 {
    transform: translate(150px, -420px);
}

.posicao-foto-4 {
    transform: translate(850px, -50px);
}

.posicao-foto-5 {
    transform: translate(800px, -260px);
}

.posicao-foto-6 {
    transform: translate(750px, -470px);
}

.posicao-foto-7 {
    transform: translate(1450px, -100px);
}

.posicao-foto-8 {
    transform: translate(1400px, -310px);
}

.posicao-foto-9 {
    transform: translate(1350px, -520px);
}