#section-noticias {
    top: calc(7vh - 80px);
    /* A posição da seção é definida abaixo da primeira seção */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.acesso_todas_noticias a {
    margin-top: 3%;
    margin-left: 85%;
    font-size: x-large;
    color: var(--vermelho-titulos);
    text-decoration: none;
    text-decoration: underline;
}
