.pagina-noticias {
    padding-top: 12%;
}

.pagina-noticias h1 {
    text-align: center;
    font-size: 52px;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #3B467A, #16287A, #2442C7);
}

.titulo-noticia {
    color: var(--vermelho-titulos);
}

.pagina-fotos {
    padding-top: 12%;
}

.titulo-fotos {
    color: var(--vermelho-titulos);
}

.pagina-fotos h1 {
    text-align: center;
    font-size: 52px;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #3B467A, #16287A, #2442C7);
}

.titulos-album-fotos{
    display: flex;
    font-size: 21px;
    color: var(--azul-medio);
}

.titulo-section-fotos_animal{
    flex: 1;
    margin-left: 350px;
}
.titulo-section-fotos_paisagem{
    margin-left: 390px;
    flex: 2;
}
.titulo-section-fotos_pessoa{
    margin-left: 350px;
    flex: 3;
}